body {
  font-family: "Poppins", sans-serif;
  background: #2e9636;
}

.login-box h2 {
  font-weight: 600;
}

.login-box input::placeholder {
  font-size: 14px;
  color: #aaa;
}

/* Warna tombol hijau */
.btn-success {
  background-color: #2e9636 !important;
  border-color: #2e9636 !important;
}

.btn-success:hover {
  background-color: #277e2e !important;
  border-color: #277e2e !important;
}
