/* body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.btn {
  background-color: #ff5e62;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: bold;
} */
